<div class=perfumes>
<!DOCTYPE html> <!--　この文章がHTML文章であることを伝える要素です。-->
<html lang="ja"><!--言語の指定-->
    <head><!--ページに表示されない情報(サイトの裏側の設定)-->
        <meta charset="utf-8">
        <title>化粧水診断スタート</title><!--ブラウザのタブのタイトルを指定-->
    </head>

    <body>
        <div class="start">
            <h6 class ="jj">Are you ready?</h6>
            <br>
            <br>
            <%= link_to "化粧水診断を始める", new_perfume_path, class: "link" %>

            <br>
            <div class="link1">
            <br>
            <%= link_to "ファンデーション診断を始める", new_dog_path %></div>
            <br>
        </div>
    </body>
</div>