// Place all the styles related to the perfumes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.perfumes{
    position: absolute;
    text-align: center;
    margin-left: -45px;
    margin-top: 90px;
}


.start{
    width: 100%;
    font-size: x-large;
    position: relative;
    right: 50px;
    

}

.intoro{
    padding-top: 50px;
}

.jj{
    font-size: 20px;
}

.kyureru{
    margin-top: 30px;
    width: 410px;
}

.row{
    margin-top: 90px;
    width: 410px;
    margin-left: -95px;
}

.col-123{
    margin: 50px 0;
}

.sindanbotan{
    margin-left: -85px;
    
}